# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [129]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        res = min(a,b)
    else:
        res = max(a,b)
    
    return res

In [130]:
# Check
lesser_of_two_evens(2,4)

2

In [131]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [132]:
def animal_crackers(text):
    words = text.strip().split()
    return words[0][0].lower() == words[1][0].lower()

In [133]:
# Check
animal_crackers('Levelheaded Llama')

True

In [134]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [141]:
def makes_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or n1 + n2 == 20

In [142]:
# Check
makes_twenty(20,10)

True

In [143]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [16]:
def old_macdonald(name):
    res = ""
    for idx, letter in enumerate(name):
        if idx == 0 or idx == 3:
            res += letter.upper()
        else:
            res += letter
    return res

In [17]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [22]:
def master_yoda(text):
    return " ".join(list(reversed(text.strip().split())))

In [23]:
# Check
master_yoda('I am home')

'home am I'

In [25]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [144]:
def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [145]:
# Check
almost_there(104)

True

In [146]:
# Check
almost_there(150)

False

In [147]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [32]:
def has_33(nums):
    is_3 = False
    for num in nums:
        if num == 3:
            if is_3 == True:
                return True
            is_3 = True
        else:
            is_3 = False
    return False

In [33]:
# Check
has_33([1, 3, 3])

True

In [34]:
# Check
has_33([1, 3, 1, 3])

False

In [35]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [37]:
def paper_doll(text):
    res = ""
    for letter in text:
        res += letter * 3
    return res

In [38]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [39]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [48]:
def blackjack(a,b,c):
    soma = sum([a,b,c])
    if soma > 21:
        if 11 in [a,b,c]:
            soma -= 10
            
    if soma > 21:
        return 'BUST'

    return soma

In [52]:
# Check
blackjack(5,6,7)

18

In [53]:
# Check
blackjack(9,9,9)

'BUST'

In [54]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [148]:
def summer_69(arr):
    while 6 in arr:
        arr.index(6)
        arr.index(9)
        arr2 = arr[0:arr.index(6)]
        arr2 += arr[arr.index(9) + 1:]
        arr = arr2
    return sum(arr)

In [149]:
# Check
summer_69([1, 3, 5])

9

In [150]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [151]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [85]:
def spy_game(nums):
    str_nums = ""
    for num in nums:
        if num in [0,7]:
            str_nums += str(num)
    
    return "007" in str_nums

In [86]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [87]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [88]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [91]:
def count_primes(num):
    prime_no = 0
    for val in range(2, num + 1):
        is_prime = True
        for test in range(2, val):
            if val % test == 0:
                is_prime = False
                break
            
        if is_prime:
            prime_no += 1
                
    return prime_no

In [152]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [127]:
def print_big(letter):
    pattern_dict = {'a':[(2,),(1,3),(0,1,2,3,4),(0,4),(0,4)],
                   'b':[(0,1,2,3),(0,4),(0,1,2,3), (0,4),(0,1,2,3)],
                   'c':[(2,3,4),(1,),(0,),(1,),(2,3,4)],
                   'd':[(0,1,2,3),(0,4),(0,4),(0,4),(0,1,2,3)],
                   'e':[(0,1,2,3,4),(0,),(0,1,2),(0,),(0,1,2,3,4)]}
    for row in pattern_dict[letter.lower()]:
        line = ""
        for idx in range(0,5):
            if idx in row:
                line += '*'
            else:
                line += ' '
        print(line)

In [128]:
print_big('e')

*****
*
***
*
*****

## Great Job!